@charset "utf-8";

* {
    top: 0;
    left: 0;
    padding: 0;
    margin:0;
}

/* ////////////   レイアウト   /////////////*/

body {
    overflow-x: hidden;
}

h1,h2,h3,p,a {
    /* font-family: 'Bad Script', cursive; */
    font-family: serif;
    color: #550b0b;
    text-align: center;
}

p {
    font-family: "Noto Sans JP";
}

h2 {
    font-size: 3rem;
    letter-spacing: 1rem;
}

h2 span:nth-child(1) {
    background: -webkit-linear-gradient(46deg ,#512727 30% ,#bf7272 ) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 span:nth-child(2) {
    background: -webkit-linear-gradient(46deg ,#550b0b 30% ,#bf7272 70%) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 span:nth-child(3) {
    background: -webkit-linear-gradient(44deg ,#bf7272 30% ,#550b0b) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 span:nth-child(4) {
    background: -webkit-linear-gradient(58deg ,#bf7272 5% ,#550b0b 60%) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 span:nth-child(5) {
    background: -webkit-linear-gradient(46deg ,#512727 30% ,#bf7272 ) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section {
    padding-top: 7vh;
}

section:nth-child(2n+1){
    box-shadow: 0px 60px 50px -50px #ffffff inset;
    /* filter: drop-shadow(0 50px 50px #2f2d2d); */
}

section:nth-child(2n){
    box-shadow: 0px 40px 50px -50px #ffdada inset;
}

.slide {
    color: transparent;
    opacity: 0;
    transition: all 1.5s;
}

.sectionEVEN {
    transform: translateX(30px);
}

.sectionODD {
    transform: translateX(-30px);
}


.blockIn {
    opacity: 1;
    transform: translateX(0);
}

h2 span {
    display: inline-block;
    transform: translateY(-150px);
    opacity: 0;

}

.active {
    transform: translateY(0px);
    transition: all 0.8s ease-out;
    opacity: 1;
}
/* ////////////   ナビゲーション   /////////////*/

.header-nav {
    /* opacity: 1; */
    position: fixed;
    top: 0;
    width: 100vw;
    padding-top: 5vh;
    z-index: 999;
    transition: all 1.8s;
}

.header-js {
    padding: 2.5vh 0;
    background-color: rgba(255, 255, 255, 0.949);
    box-shadow: #d8d8d8 0 0 5px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    max-width: 92%;
}

.nav-item {
    margin-right: 4vw;
    background: 
    linear-gradient(currentColor 0 0) 
    bottom /var(--d, 0) 1.2px 
    no-repeat;
    transition:0.2s;   
}

.nav-item:hover{
    --d: 100%;
    color: #550b0b;
}

.nav-item a {
    text-decoration: none;
    color: #550b0b;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    font-weight: bold;
}

/* ////////////   トップメイン   /////////////*/

#top {
    width: 100vw;
    min-height: 100vh; /* Fallback */
    min-height: calc(var(--vh, 1vh) * 100);
    max-width: 100%;
    display: flex;
    align-items: center;
    background: url(./img/top.jpg);
    background-size: cover ;
}

#top div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 95vw;
    height: 95vh;
    background-color: #FFF;
    opacity: 40%;
    box-shadow: #d0d0d0 0 1px 20px;
}

#top h1 {
    display: block;
    position: absolute;
    top: 30vh;
    left: 10vw;
    font-family: serif;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    z-index: 1;
    line-height: 100px;
    text-align: left;
    text-transform: uppercase;
}   

#top h1 span {
    color: transparent;
    animation: blur 8s ease-out forwards;
    -webkit-animation: blur 8s ease-out forwards;
}

#top h1 span:nth-child(1) {
animation-delay: 0.01s;
-webkit-animation-delay: 0.01s;
}
#top h1 span:nth-child(3) {
animation-delay: 0.08s;
-webkit-animation-delay: 0.11s;
}
#top h1 span:nth-child(5) {
animation-delay: 0.15s;
-webkit-animation-delay: 0.21s;
}

@keyframes blur {
0%    {text-shadow:  0 0 100px #550b0b; opacity:0;}
5%    {text-shadow:  0 0 90px #550b0b;}
15%   {opacity: 1;}
20%   {text-shadow:  0 0 0px #550b0b;}
/* 100%  {text-shadow:  0 0 0 #550b0b;} */
}

@-webkit-keyframes blur {
0%    {text-shadow:  0 0 100px #550b0b; opacity:0;}
5%    {text-shadow:  0 0 90px #550b0b;}
15%   {opacity: 1;}
20%   {text-shadow:  0 0 0px #550b0b;}
/* 100%  {text-shadow:  0 0 0 #550b0b;} */
}


/* ////////////   ABOUT SECTION   /////////////*/


#about {
    height: 90vh;
    background-color: #fdf0f0;
}

.about-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 4vw 0;
    width: 1080px;
    max-width: 85%;
    min-width: 900px;
}

.about-main img {
    /* margin: 0 50px 0 20px; */
    border-radius: 50%;
    box-shadow: 0 3px 15px 0 #550b0b;
    width: 23vw;
    max-width: 250px;
    /* min-width: 900px; */


}

.about-para p {
    text-align: left;
    width: 550px;
}


/* ////////////   SKILL SECTION   /////////////*/

#skill {
    height: 100vh;
    background-color: #fffcfc;
}

.skill-list {
    display: flex;
    list-style: none;
    /* justify-content: center; */
    flex-wrap: wrap;
    margin: 2vw auto;
    max-width: 75%;
    min-width: 725px;
    width: 1080px;
}

.skill-list li {
    /* display: flex; */
    /* justify-content: center; */
    width: calc(100%/5);
    margin: 10px 0;
    min-width: 145px;
}

.skill-list li h3 {
    font-size: 1.5vw;
}

.skill-list li img {
    width: 80px;
    display: block;
    /* margin: 10px auto 5px; */
    margin: 0 auto;
    filter: invert(0.3) sepia(1) hue-rotate(-45deg);
}


/* ////////////   WORKS SECTION   /////////////*/

#works {
    background-color: #fdf0f0;
    padding-bottom: 10vh;
}

.works-list {
    display: flex;
    list-style: none;
    /* justify-content: ; */
    flex-wrap: wrap;
    margin: 3vh auto;
    width: 1080px;
    /* min-width: 725px; */
    max-width: 75%;
}

.works-list::after {
    display: block;
    content: "";
    width: 30%;
    margin: 0 auto;
}

.works-item {
    max-width: 30%;
    margin: 20px auto;

}

.works-item a img {
    width: 100%;
    aspect-ratio: 4/2;
}

.works-item a img:hover{
    opacity: 0.85;
    transition-duration: 0.2s;
}

.works-item p {
    text-align: left;
    font-size: 1vw;
}

.works-item p:nth-of-type(2) {
    color: #927373;
}

/* ////////////   TOPボタン   /////////////*/
.topbtn {
    position: fixed;
    top: auto;
    left: auto;
    right: 10px;
    bottom: 10px;
    /* width: 70px;
    height: 70px; */
    z-index: 99;
    opacity: 0;
    /* transform: translateY(100px); */
    transition: all 1s;

}

.topbtn a {
    font-size: 3.5rem;
    text-decoration: none;
    box-shadow: #fdf0f0 0 0 15px 1px inset;
    display: block;
    border-radius: 50%;
    background-color: #f3c7c7;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.UpMove{
    animation: UpAnime 1s forwards;
  }
  @keyframes UpAnime{
    from {
      opacity: 0;
    /* transform: translateY(100px); */
    }
    to {
      opacity: 1;
    /* transform: translateY(0); */
    }
  }

.DownMove {
    animation: DownAnime 1s forwards;
}
@keyframes DownAnime{
  from {
    opacity: 1;
  /* transform: translateY(0); */
  }
  to {
    opacity: 0;
  /* transform: translateY(100px); */
  }
}

/* ////////////   FOOTER   /////////////*/

.bar {
    height: 4.5vh;
    background-color: #efdfdf;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3c7c7;
    height: 10vh;
}

.copy small {
    color: #fff;
    letter-spacing: 0.15rem;
}

@media screen and (max-width:960px) {

    section {
        overflow-x: hidden;
    }

    h2 {
        font-size: 3rem;
        letter-spacing: 0.4rem;
    }

    p {
        font-size: 1rem;
    }

    #top h1 {
        font-size: 4rem;
        top: 25vh;
        left: 8vw;
        line-height: 12vh;
    }

    #about {
        height: auto;
        padding-bottom: 50px;
    }

    .about-main {
        flex-flow: column;
        padding: 0;
        min-width: 0;
    }

    .about-main img {
        width: 40%;
        display: block;
        margin: 30px auto;
    }

    .about-para {
        margin: 50px auto;
    }
    
    .about-para p {
        font-size: 1rem;
        text-align: left;
        margin-bottom: 2vh;
        max-width: 515px;
    }

    .sectionODD {
        margin: 0 auto;
    }

    #skill {
        height: auto;
    }

    .skill-list {
        min-width: 480px;
    }

    .skill-list li {
        width: calc(100%/4);
        min-width: 0;
    }

    .skill-list li h3 {
        font-size: 1rem;
    }

    #works {
        /* height: 100vh; */
    }

    .works-list {
        max-width: 95%;
    }

    .works-list::after{
        width: 45%;
    }
    
    .works-item  {
        max-width: 75%;
        min-width: 550px;
        margin: 20px auto;
    }

    .works-item p {
        text-align: center;
        font-size: 1rem;
    }

    .works-item p:first-of-type{
        font-size: 1.2rem;
    }
    
}

@media screen and (max-width:614px) {

    section {
        overflow-x: hidden;
    }

    h2 {
        font-size: 1.5rem;
        letter-spacing: 0.4rem;
    }

    #top h1 {
        font-size: 1.7rem;
        top: 25vh;
        left: 8vw;
        line-height: 10vh;
    }


    #nav {
        /* display: none; */
        top: -120%;
        bottom: auto;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #ffd5d5e0;
        transition: all 0.6s;
    }

    #nav.navactive {
        top: 0;
    }

    #nav ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        flex-flow: column;
    }

    #nav li {
        text-align: center;
        margin-bottom: 3vh;
    }
    .sp-ham {
        position: fixed;
        top: 10px;
        left: auto;
        right: 15px;
        background: #d8c0c0;
        width: 50px;
        height: 50px;
        white-space: nowrap;
        border-radius: 5px;
        box-shadow: #fdf0f0 0 0 15px 1px inset;
        /* opacity: 0; */
        z-index: 999;
    }

    .sp-ham span {
        display: inline-block;
        transition: all 0.4s;
        position: absolute;
        left: 14px;
        height: 2px;
        border-radius: 5ps;
        background: #FFF;
        width: 45%;
    }

    .sp-ham span:nth-child(1) {
        top: 13px;
    }

    .sp-ham span:nth-child(2) {
        top: 19px;
    }

    .sp-ham span:nth-child(3) {
        top: 25px;
    }

    .sp-ham span:nth-child(3)::after {
        content: "Menu";
        position: absolute;
        top: 5px;
        left: -3px;
        color: #FFF;
        font-size: 0.5rem;
        text-transform: uppercase;

    }
    
    .opn-ham span:nth-child(1){
        top: 14px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
    }

    .opn-ham span:nth-child(2){
        opacity: 0;
    }

    .opn-ham span:nth-child(3){
        top: 26px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
    }

    .opn-ham span:nth-child(3)::after{
        content: "Close";
        transform: translateY(-3px) rotate(-45deg);
        top: 0px;
        left: 0px;
        width: 55px;
    }

    #about {
        height: auto;
        padding-bottom: 10vh;
    }

    .about-main {
        display: block;
        padding: 0;
        max-width: 100%;
    }

    .about-main img {
        width: 50%;
        display: block;
        margin: 5vh auto 8vh;
    }

    .about-main div {
        max-width: 90%;
    }
    
    .about-para p {
        width: auto;
        text-align: left;
        margin-bottom: 2vh;
    }

    .skill-list {
        min-width: 360px;
    }


    .skill-list li {
        width: calc(100%/3);
        margin: 10px 0;
        /* min-width: 140px; */
    }

    .skill-list li img {
        width: 50px;
    }

    #works {
        height: auto;
    }

    .works-list {
        max-width: 90%;
    }
    
    .works-item  {
        max-width: 100%;
        min-width: 0;
    }

    .works-item p {
        text-align: left;
        font-size: 1rem;
    }

    .works-item p:first-of-type{
        font-size: 1.2rem;
    }
}

@media screen and (max-width:370px) {

    .skill-list {
        min-width: 0px;
        max-width: 95%;
    }

    .skill-list li {
        width: calc(100%/2);
        min-width: 0;
    }

}