@charset "utf-8";

* {
    top: 0;
    left: 0;
    margin: 0;
    font-family:serif;
    line-height: 2rem;
}

main {
    overflow: hidden;
}

h1 {
    font-size: 1.8rem;
    color: #707070;
    letter-spacing: 0.1rem;
    font-weight: 500;
    text-indent: 1rem;
    line-height: 65px;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    color: #857979;
}


p {
    color: #707070;
}

html {
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}


.toppage {
    position: fixed;
    width: 8vh;
    height: 8vh;
    z-index: 99;
    bottom: 15px;
    right: 5%;
    top: auto;
    left: auto;
    background-image: url(./image/top.png);
    background-size: cover;
    font-size: 0;
}

.UpMove{
    animation: UpAnime 0.5s forwards;
  }
  @keyframes UpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }

.DownMove {
    animation: DownAnime 1s forwards;
}
@keyframes DownAnime{
  from {
    opacity: 1;
  transform: translateY(0);
  }
  to {
    opacity: 0;
  transform: translateY(100px);
  }
}

.header-nav {
    opacity: 0;
    padding-top: 30px;
}

.header-nav.navactive {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    opacity: 1;
    
}

.circle-bg{
    position: fixed;
    background: #FFF;
    z-index:99;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*丸のスタート位置と形状*/
    transform: scale(0);/*scaleをはじめは0に*/
    top:-100px;
    left:calc(50% - 50px);
    transition: all .6s;/*0.6秒かけてアニメーション*/
}

.circle-bg.circleactive{
  transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

#nav.navactive {
    display: block;
}

#nav {
    display: none;
      /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
      z-index: 999;
  }

#nav.navactive{
    animation-name:gnaviAnime;
    animation-duration:1s;
    animation-delay:.2s;/*0.2 秒遅らせて出現*/
    animation-fill-mode:forwards;
    opacity:0;
    }
    @keyframes gnaviAnime{
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
    }


.header-nav div {
    margin: 0vh 5vw 0vh;
}

.header-nav h1 {
    display: none;
}

.nav-list {
    padding: 0;
}

.nav-item {
    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom: 1px solid #412F17;
    max-width: 85%;
    margin: 5vh auto 0;
}

.nav-item a {
    color: #412F17;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 2px;

}

.flex div p {
    color: #412F17;
    font-size: 2rem;
    text-align: center;
    margin: 50px 0 25px;

}

.flex div a {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 90px;
    height: 90px;
}

.flex div a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
}


.sp-ham {
    position: fixed;
    top: 0px;
    left: auto;
    right: 0px;
    width: 70px;
    height: 65px;
    z-index: 999;
    /* border-radius: 5px; */
    border-bottom: #412F17 1px solid;
    border-left: #412F17 1px solid;
    background-color: #DDD1D1;
}

.sp-ham span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    border-radius: 5px;
    background: #412F17;
    width: 60%;
}

.sp-ham span:nth-child(1) {
    top: 20px;
}

.sp-ham span:nth-child(2) {
    top: 32px;
}

.sp-ham span:nth-child(3) {
    top: 44px;
}

.sp-ham span:nth-child(3)::after {
    position: absolute;
    top: 5px;
    left: -3px;
    color: #FFF;

}

.opn-ham {
    background: #DDD1D1;
}

.opn-ham span {
    background: #412F17;
    left: 11px;
}

.opn-ham span:nth-child(1){
    top: 23px;
    transform: translateY(6px) rotate(-45deg);
    width: 70%;
}

.opn-ham span:nth-child(2){
    opacity: 0;
}

.opn-ham span:nth-child(3){
    top: 35px;
    transform: translateY(-6px) rotate(45deg);
    width: 70%;
}

/* toppage */

.sp-topbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 65px;
    width: 100vw;
    background: rgba(255, 255, 255, 0.745);
    border-bottom: 1px solid #412F17;
    z-index: 98;
}

.sp-topbar span {
    color: #E8380D;
}

/* :root{
    --myheight: 100px;
  } */

.top {
    position: relative;
    background-position: 20% 20%;
    top: 0;
    background-image: url(./image/hero-sp.png);
    background-size: cover;
    background-position: 80% 50%;
    /* height: 100vh; */
    /* height: calc(var(--vh, 1vh) * 100); */
    /* height: var(--myheight); */
    /* height: -webkit-fill-available; */
    /* height: calc( var(--vh) * 100 ); */
    height: 100dvh;
    width: 100%;
}

.top-para {
    position: absolute;
    top: 26%;
    left: 23%;
    writing-mode: vertical-rl;
}

.top-para h2 {
    color: #B66161;
    background: rgba(255, 255, 255, 0.721);
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 2vh;
    padding: 3vh;
}


/* topics */

#topics {
    padding-top: 5px;
}

.topics h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 30px 0;
    color: #707070;
}

.topics-list {
    list-style: none;
    margin-bottom: 50px;
    /* max-width: 90%; */
    /* padding: 0; */
} 

.topics-list li {
    max-width: 90%;
}

.topics-list p {
    font-size: 1.2rem;
    color: #707070;
    line-height: 2.5rem;
}

.topics div {
    max-width: 90%;

}

.topics a {
    display: flex;
    justify-content: right;
    font-size: 1.2rem;
    color: #707070;
    margin-bottom: 50px;
    transition: all 0.5s;
}

.topics a:hover {
    color: #B66161;
}



.about h1 {
    background: #DDD1D1;
    max-width: 85%;
}

.ab-t {
    position: relative;
    width: 100%;
    min-height: 800px;
    margin-bottom: 40vw;

}

.ab-t p {
    margin: 7vw 0;
    font-size: max(1rem,4vw);

}

.ab-t div:first-of-type {
    position: absolute;
    padding: 5vw;
    display: block;
    align-items: center;
    z-index: 2;
    width: 70vw;
    min-width: 240px;
    aspect-ratio: 4/5;
    background: rgba(255, 255, 255, 0.804);
}

.ab-t div:first-of-type p:last-of-type {
    margin-bottom: 0;
}

.ab-t div:last-of-type {
    z-index: 1;
    position: absolute;
    top: 25%;
    bottom: auto;
    right: 0;
    left: auto;

    width: calc(70vw + 10vw);
    min-width: 272px;
    min-height: 418px;
    aspect-ratio: 4/4.85;
}

.ab-t div:last-of-type {
    background-image: url(./image/about.png);
    background-position: center;
    background-size: cover;
}

.ab-sp,
.ab-su,
.ab-au,
.ab-wi {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    max-height: 700px;
    margin-bottom: 200px;
}

.ab-sp {
    background-image: url(./image/season1-sp.png);
}

.ab-su {
    background-image: url(./image/season2-sp.png);
}

.ab-au {
    background-image: url(./image/season3-sp.png);
}

.ab-wi {
    background-image: url(./image/season4-sp.png);
}

.ab-sp div:first-of-type,
.ab-su div:first-of-type,
.ab-au div:first-of-type,
.ab-wi div:first-of-type {
    width: 150px;
    position: absolute;
    display: flex;
    justify-content: center;
}

.ab-sp div:first-of-type,
.ab-au div:first-of-type {
    left: 5%;
}

.ab-su div:first-of-type,
.ab-wi div:first-of-type {
    right: 5%;
    left: auto;
}



.ab-sp p,
.ab-su p,
.ab-au p,
.ab-wi p {
    writing-mode: vertical-rl;
    font-size: 1.2rem;
    line-height: 1.7rem;
    letter-spacing: 0.3rem;
    padding: 100px 15px 50px;
    background: rgba(255, 255, 255, 0.721);
}


.ab-sp p::before,
.ab-su p::before,
.ab-au p::before,
.ab-wi p::before {
    position: absolute;
    content: "";
    background-size: cover;
    height: 150px;
    width: 150px;
    top: -65px;
}

.ab-sp p::before,
.ab-au p::before {
    left: 0;
    right: auto;
}

.ab-su p::before,
.ab-wi p::before {
    left: auto;
    right: 0;
}

.ab-sp p::before {
    background-image: url(./image/title1.png);
}

.ab-su p::before {
    background-image: url(./image/title2.png);
}

.ab-au p::before {
    background-image: url(./image/title3.png);
}

.ab-wi p::before {
    background-image: url(./image/title4.png);
}


.ab-sp p::after,
.ab-su p::after,
.ab-au p::after,
.ab-wi p::after {
    position: absolute;
    z-index: 3;
    font-size: 4.5em;
    font-weight: bold;
    top: -37px;
}

.ab-sp p::after,
.ab-au p::after {
    left: 60px;
    right: auto;
}

.ab-su p::after,
.ab-wi p::after {
    right: 60px;
    left: auto;
}

.ab-sp p::after {
    content: "春";
}

.ab-su p::after {
    content: "夏";
    color: #fff;
}

.ab-au p::after {
    content: "秋";
    color: #fff;
}

.ab-wi p::after {
    content: "冬";
    color: #fff;
}

.ab-sp div:last-of-type,
.ab-su div:last-of-type,
.ab-au div:last-of-type,
.ab-wi div:last-of-type {
    position: absolute;
    top: 60%;
    width: 160px;
    height: 200px;
    background-size: cover;
}

.ab-sp div:last-of-type,
.ab-au div:last-of-type {
    left: auto;
    right: 0;
}

.ab-su div:last-of-type,
.ab-wi div:last-of-type {
    left: 0;
    right: auto;
}

.ab-sp div:last-of-type {
    background-image: url(./image/item1-1.png);
}

.ab-su div:last-of-type {
    background-image: url(./image/item2-1.png);
}

.ab-au div:last-of-type {
    background-image: url(./image/item3-1.png);
}

.ab-wi div:last-of-type {
    background-image: url(./image/item4-1.png);
}



.ab-sp div:last-of-type::after,
.ab-su div:last-of-type::after,
.ab-au div:last-of-type::after,
.ab-wi div:last-of-type::after {
    position: absolute;
    content: "";
    background-size: cover;
    top: 50%;
    width: 160px;
    height: 200px;
}

.ab-sp div:last-of-type::after,
.ab-au div:last-of-type::after {
    left: -60%;
}

.ab-su div:last-of-type::after,
.ab-wi div:last-of-type::after {
    right: -60%;
}

.ab-sp div:last-of-type::after {
    background-image: url(./image/item1-2.png);
}

.ab-su div:last-of-type::after {
    background-image: url(./image/item2-2.png);
}

.ab-au div:last-of-type::after {
    background-image: url(./image/item3-2.png);
}

.ab-wi div:last-of-type::after {
    background-image: url(./image/item4-2.png);
}






.slide {
    opacity: 0;
    transition: all 1.5s;
}

.adEVEN-js {
    transform: translateX(30px);
}

.adODD-js {
    transform: translateX(-30px);
}



.access h1 {
    background: #DDD1D1;
    max-width: 80%;
}

.access div ul {
    list-style: none;
    margin: 20px auto;
    padding: 0;
    max-width: 90%;
}

.access div ul li {
    display: flex;
    margin: 10px 0;
}

.access div ul li p {
    line-height: 1.8rem;
}

.access div ul li p:first-of-type {
    text-align: center;
    min-width: 85px;
}

.map {
    margin: 50px 20px;
    aspect-ratio: 3/2;
}

iframe {
    border: #000 solid 1px;
}


#footer {
    background: #412f17;
    text-align: center;
}

#footer p {
    color: #FFF;
    /* padding: 5px 0; */
}

#footer p:first-of-type {
    padding-top: 25px;
}

#footer a {
    display: block;
    width: 80px;
    margin: 20px auto 10px;

}

#footer a img:hover {
    filter: sepia(35%);
}
#footer a img {
    width: 80px;
    transition: all 0.5s;
}

small {
    color: #B66161;
}


.blockIn {
    opacity: 1;
    transform: translate(0);
}


/* 768px */
@media screen and (min-width:768px) {

    h1 {
        line-height: 98px;
        font-size: 3rem;
        letter-spacing: 0.5rem;
    }

    h2 {
        font-size: 2.5em;
    }

    .header-nav.navactive {
        position: fixed;
        top: 0;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        width: 500px;
        height: 100%;
        z-index: 999;
        opacity: 1;   
    }

    .circle-bg.circleactive{
        transform: scale(20);/*クラスが付与されたらscaleを拡大*/
        z-index: 99;
      }
    
    .sp-ham {
        transform: scale(1.5);
        transform-origin: top right;
    }

    .sp-topbar {
        height: 98px;
    }

    .top-para {
        top: 20%;
        left: 20%;

    }

    .top-para h2 {
        line-height: 5rem;
        font-size: 3rem;
        letter-spacing: 1rem;
    }




    .topics h3 {
        font-size: 3rem;
        margin: 100px auto;
    }

    .topics-list p {
        font-size: 2rem;
        line-height: 4rem;
    }

    .topics a {
        font-size: 2rem;
        margin: 0 0 100px;
    }






    .ab-t p {
        line-height: 3rem;
        letter-spacing: 0.3rem;
    }

    .ab-t {
        margin-bottom: 60vw;
    }

    .ab-sp,
    .ab-su,
    .ab-au,
    .ab-wi {
        height: 90vh;
        max-height: 900px;
        margin-bottom: 200px;
    }


    .ab-sp div:first-of-type,
    .ab-su div:first-of-type,
    .ab-au div:first-of-type,
    .ab-wi div:first-of-type {
        width: 250px;
    }

    .ab-sp div:first-of-type,
    .ab-au div:first-of-type {
        left: 5%;
    }

    .ab-su div:first-of-type,
    .ab-wi div:first-of-type {
        right: 5%;
        left: auto;
    }

    .ab-sp p,
    .ab-su p,
    .ab-au p,
    .ab-wi p {
        font-size: 2rem;
        line-height: 3.3rem;
        letter-spacing: 0.5rem;
        padding: 200px 15px 80px;

    }

    .ab-sp p::before,
    .ab-su p::before,
    .ab-au p::before,
    .ab-wi p::before {
        height: 250px;
        width: 250px;
        top: -75px;
    }

    .ab-sp p::before,
    .ab-au p::before {
        left: 5px;
        right: auto;
    }

    .ab-su p::before,
    .ab-wi p::before {
        left: auto;
        right: 5px;
    }

    .ab-sp p::after,
    .ab-su p::after,
    .ab-au p::after,
    .ab-wi p::after {
        font-size: 4.5em;
        font-weight: bold;
        top: -30px;
    }

    .ab-sp p::after,
    .ab-au p::after {
        left: 105px;
        right: auto;
    }

    .ab-su p::after,
    .ab-wi p::after {
        right: 100px;
        left: auto;
    }

    .ab-sp div:last-of-type,
    .ab-su div:last-of-type,
    .ab-au div:last-of-type,
    .ab-wi div:last-of-type {
        top: 50%;
        width: 258px;
        height: 320px;
    }

    .ab-sp div:last-of-type::after,
    .ab-su div:last-of-type::after,
    .ab-au div:last-of-type::after,
    .ab-wi div:last-of-type::after {
        top: 50%;
        width: 258px;
        height: 320px;
    }

    .ab-sp div:last-of-type::after,
    .ab-au div:last-of-type::after {
        left: -75%;
    }

    .ab-su div:last-of-type::after,
    .ab-wi div:last-of-type::after {
        right: -75%;
    }

    .access div ul li p {
        font-size: 2rem;
        line-height: 4rem;
    }

    .access div ul li p:first-of-type {
        min-width: 200px;
    }

    .map {
        aspect-ratio: 4/3;
        margin: 40px auto;
        width: 80%;
    }


    #footer p {
        font-size: 2rem;
        line-height: 3.5rem;
    }
    
    #footer a {
        font-size: 2rem;
        display: block;
        width: 100px;
        margin: 20px auto 10px;
    }
    #footer a img {
        width: 100px;
    }
    
    small {
        color: #B66161;
    }

}

@media screen and (min-width:1023px) {

    h2 {
        font-size: 2.5rem;
    }

    /*                  top                   */

    .sp-ham {
        display: none;
    }

    .sp-topbar {
        display: none;
    }

    .toppage {
        width: 6vw;
        height: 6vw;
        bottom: 15px;
        right: 5%;
        animation: remove 1s ease-out  forwards;
    }

    .toppage:hover {
        animation: move 0.4s ease-in-out  forwards;

    }

    @keyframes move {
        100% {transform:translateY(-15px);}
    }

    @keyframes remove {
        0% {transform:translateY(-15px);}
        100% {transform:translateY(0px);}
    }

    #nav {
        position: fixed;
        display: block;
        align-items: center;
        height: 10vh;
        width: 100vw;
        opacity: 1;
        transition: all 0.5s;
        padding: 0;
    }

    .flex {
        display: flex;
        align-items: center;
        height: 10vh;
        margin: 0;
        justify-content: center;
    }

    .flex div:last-of-type {
        display: none;
    }

    .header-nav h1 {
        display: block;
        margin-right: 50px;
        font-size: 2vw;
    }

    .header-nav h1 span {
        color: #E8380D;
    }

    .nav-item {
        margin: 0;
        border: 0px;
    }


    #nav.header-js {
        background-color: #DDD1D1;
        backdrop-filter: blur(5px);
        box-shadow: #53404080 0 2px 5px;
    }
    
    .header-nav h3.navtext-js,
    .nav-item a.navtext-js,
    .nav-item a span.navtext-js{
        color: #776363;
    }

    .nav-list {
        display: flex;
        white-space: nowrap;
    }

    .nav-item {
        align-items: center;
        margin-right: 3vw;
    }

    .nav-item a {
        display: block;
        font-size: 1.5vw;
        margin: 0;
        min-width: 0;
        color: #412f17;
        font-weight: bold;
        transition: all 0.2s;
    }

    .nav-item a:hover {
        opacity: 0.5;
    }

    .top {
        height: 80vh;
        max-width: 70%;
        margin: 10vh auto 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(./image/hero-pc.png);
    }

    .top-para {
        top: 20%;
        left: 20%;
    }
    
    .top-para h2 {
        font-size: 1.5vw;
        line-height: 2vw;
        letter-spacing: 0.5vw;
    }

    .topics h3 {
        font-size: 3vw;
        margin: 5vw auto;
    }

    .topics-list p {
        font-size: 2vw;
        line-height: 4vw;
    }

    .topics div {
        display: flex;
        justify-content: flex-end;
        margin: 0 20vw 5vw auto;
    }

    .topics div a {
        font-size: 2vw;
    }
    
    .topics-list {
        width: 100%;
        max-width: 70%;
        padding: 0;
        margin: 0 auto;
    }

    .topics-list li {
        display: flex;
        margin: 0 auto;
    }

    
    .topics-list li p:first-of-type {
        min-width: 15vw;
    }

    .about h1 {
        max-width: 70%;
        font-size: 2vw;
        margin: 0 auto;
    }

    .wrapper {
        max-width: 70%;
        margin: 0 auto;
    }

    .ab-t {
        display: flex;
        margin-bottom: 0px;
    }

    .ab-t div:last-of-type,
    .ab-t div:first-of-type{
        position: relative;
        aspect-ratio: unset;
        min-height: 0px;
        max-height: 70vh;
    }

    .ab-t div:first-of-type p {
        font-size: 1.5vw;
        margin: 2vw;
        letter-spacing: normal;
    }

    .ab-t div:first-of-type {
        position: relative;
        padding: 0;

    }

    .ab-t div:last-of-type {
        max-width: 45%;
        background-image: url(./img/vicky-ng-Ayy_K-y_dLA-unsplash.jpg);

    }






    .ab-sp,
    .ab-su,
    .ab-au,
    .ab-wi {
        height: auto;
        aspect-ratio: 4/2;
        margin-bottom: 10vw;
    }

    .ab-sp {
        background-image: url(./image/season1-pc.png);
    }
    
    .ab-su {
        background-image: url(./image/season2-pc.png);
    }
    
    .ab-au {
        background-image: url(./image/season3-pc.png);
    }
    
    .ab-wi {
        background-image: url(./image/season4-pc.png);
    }


    .ab-sp div:first-of-type,
    .ab-su div:first-of-type,
    .ab-au div:first-of-type,
    .ab-wi div:first-of-type {
        width: 10vw;
        height: 100%;
    }

    
    .ab-sp p,
    .ab-su p,
    .ab-au p,
    .ab-wi p {
        font-size: 1.5vw;
        line-height: 2vw;
        letter-spacing: 0.2vw;
        padding: 7vw 1vw 0;
        height: auto;
        /* max-height: 700px; */

    }

    .ab-sp p::before,
    .ab-su p::before,
    .ab-au p::before,
    .ab-wi p::before {
        position: absolute;
        height: 10vw;
        width: 10vw;
        top: -5vw;
    }

    .ab-sp p::before,
    .ab-au p::before {
        left: 0;
    }

    .ab-su p::before,
    .ab-wi p::before {
        right: 0;
    }

    .ab-sp p::after,
    .ab-su p::after,
    .ab-au p::after,
    .ab-wi p::after {
        font-size: 5.8vw;
        top: -3vw;
    }

    .ab-sp p::after,
    .ab-au p::after {
        left: 4vw;
    }

    .ab-su p::after,
    .ab-wi p::after {
        right: 4vw;
    }

    .ab-sp div:last-of-type,
    .ab-su div:last-of-type,
    .ab-au div:last-of-type,
    .ab-wi div:last-of-type {
        width: 10vw;
        height: 12.5vw;
    }

    .ab-sp div:last-of-type,
    .ab-au div:last-of-type {
        right: 1vw;
    }

    .ab-su div:last-of-type,
    .ab-wi div:last-of-type {
        left: 1vw;
    }

    .ab-sp div:last-of-type::after,
    .ab-su div:last-of-type::after,
    .ab-au div:last-of-type::after,
    .ab-wi div:last-of-type::after {
        width: 10vw;
        height: 12.5vw;
    }

    .access h1 {
        max-width: 70%;
        font-size: 2vw;
        margin: 0 auto;
    }

    .ac-wrapper {
        display: flex;
        max-width: 65%;
        margin: 2vw auto 10vw;
    }

    .ac-wrapper div:first-of-type {
        width: 100%;
    }

    .access div ul {
        margin: 0;
    }

    .access div ul li {
        margin: 0;
    }

    .access div ul li p {
        font-size: 1.5vw;
        line-height: 2.5vw;
    }

    .access div ul li p:first-of-type {
        min-width: 6vw;
        margin-right: 3vw;
    }

    .map {
        width: 80%;
        aspect-ratio: 5/2;
        margin: 0;
    }


    #footer p {
        font-size: 1.5vw;
        line-height: 2.5vw;
    }


}